{% extends 'baseAdmin.html.twig' %}

{% block title %}ProjectsManager index{% endblock %}

{% block body %}
    <style>
      .admin { background-image: url("{{ asset('build/Portfolio/BG/forest-old-growth-nature-green-wallpaper.jpg') }}")}
    </style>
    {% include 'content_manager/navbar.html.twig' %}


<section class="admin">
    <div class="panel" style="overflow-y: scroll;">
    <h1>ProjectsManager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Projects</th>
                <th>Name</th>
                <th>IMG</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for projects_manager in projects_managers %}
            <tr>
                <td>{{ projects_manager.id }}</td>
                <td>{{ projects_manager.Projects }}</td>
                <td>{{ projects_manager.name }}</td>
                <td>{{ projects_manager.IMG }}</td>
                <td>{{ projects_manager.Description }}</td>
                <td><img src="{{ asset('build/Portfolio/myjob/' ~ projects_manager.imageName) }}" alt="{{ projects_manager.name }}" width="100"></td>
                <td>
                    <a href="{{ path('app_projects_manager_show', {'id': projects_manager.id}) }}">show</a>
                    <a href="{{ path('app_projects_manager_edit', {'id': projects_manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_projects_manager_new') }}">Nouveau Projet</a>
    </div>
    </section>
    <script>
 let clicklink = document.querySelectorAll(".clicklink");
        let clickbutton = document.querySelector(".round");
        let selector = document.querySelector(".rect");

        function togglePanel() {

            if (selector.classList.contains("off")) {
                selector.classList.remove("off");
                selector.style.display = "flex";
                selector.classList.add("on");
            } else {
                selector.classList.remove("on");
                selector.classList.add("off");
                setTimeout(function() {
                selector.style.display = "none";
                }, 1000);
            }
            }
        

        clickbutton.addEventListener("click", togglePanel);

        clicklink.forEach(function(link) {
            link.addEventListener("click", togglePanel);
        });



</script>
{% endblock %}
