{% extends 'base.html.twig' %}

{% block title %}SkillsManager index{% endblock %}

{% block body %}
    <style>
      .admin { background-image: url("{{ asset('build/Portfolio/BG/forest-old-growth-nature-green-wallpaper.jpg') }}")}
    </style>
    {% include 'content_manager/navbar.html.twig' %}


<section class="admin">
    <div class="panel" style="overflow-y: scroll;">
    <h1>Gestion des Connaissances</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Skills</th>
                <th>IMG</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for skills_manager in skills_managers %}
            <tr>
                <td>{{ skills_manager.id }}</td>
                <td>{{ skills_manager.Skills }}</td>
                <td>{{ skills_manager.IMG }}</td>
                <td>
                    <a href="{{ path('app_skills_manager_show', {'id': skills_manager.id}) }}">show</a>
                    <a href="{{ path('app_skills_manager_edit', {'id': skills_manager.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_skills_manager_new') }}">Create new</a>
    </section>
        <script>
 let clicklink = document.querySelectorAll(".clicklink");
        let clickbutton = document.querySelector(".round");
        let selector = document.querySelector(".rect");

        function togglePanel() {

            if (selector.classList.contains("off")) {
                selector.classList.remove("off");
                selector.style.display = "flex";
                selector.classList.add("on");
            } else {
                selector.classList.remove("on");
                selector.classList.add("off");
                setTimeout(function() {
                selector.style.display = "none";
                }, 1000);
            }
            }
        

        clickbutton.addEventListener("click", togglePanel);

        clicklink.forEach(function(link) {
            link.addEventListener("click", togglePanel);
        });



</script>
{% endblock %}
