{% extends 'base.html.twig' %}

{% block title %}SkillsManager{% endblock %}

{% block body %}
<style>
      .admin { background-image: url("{{ asset('build/Portfolio/BG/forest-old-growth-nature-green-wallpaper.jpg') }}")}
    </style>


<section class="admin">
    <div class="panel" style="overflow-y: scroll;">
    <h1>SkillsManager</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ skills_manager.id }}</td>
            </tr>
            <tr>
                <th>Skills</th>
                <td>{{ skills_manager.Skills }}</td>
            </tr>
            <tr>
                <th>IMG</th>
                <td>{{ skills_manager.IMG }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_skills_manager_index') }}">back to list</a>

    <a href="{{ path('app_skills_manager_edit', {'id': skills_manager.id}) }}">edit</a>

    {{ include('skills_manager/_delete_form.html.twig') }}

    </div>
    </section>
{% endblock %}
