{% extends 'base.html.twig' %}

{% block title %}Knowledge index{% endblock %}

{% block body %}
    <h1>Knowledge index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Knowledge</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for knowledge in knowledge %}
            <tr>
                <td>{{ knowledge.id }}</td>
                <td>{{ knowledge.Knowledge }}</td>
                <td>
                    <a href="{{ path('app_knowledges_show', {'id': knowledge.id}) }}">show</a>
                    <a href="{{ path('app_knowledges_edit', {'id': knowledge.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_knowledges_new') }}">Create new</a>
{% endblock %}
